.event_card{
    background-color: #313131;
    
    padding: 1rem;
    position: relative;
    border-radius: .5rem;
    max-width: 400px;
}

.cardImage{
    width: 100%;
    /* height: 170px; */
    border-radius: .4rem;
}
.card_details{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
/* .cardDate{
    background-color: var(--secondary-color);
    color: #fff;
    padding: .8rem;
    text-align: center;
    font-weight: 600;
    font-size: large;
    position: absolute;
    bottom: 171px;
    right: 0;
} */
.venue{
    font-size: 1.2rem;
}
.eventTime{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 10px;
}
.eventName{
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1.2px;
}
.watch_link{
    /* background-color: red; */
    text-decoration: none;
}
.watch_live{
    padding: .5rem 2rem;
    border: none;
    border-radius: .4rem;
    font-family: var(--main-font);
    font-size: large;
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.watch_live:hover{
    background-color: var(--secondary-color);
    gap: 60%;
}