.upcoming{
    padding: 2rem;
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.upcoming_text{
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    /* justify-content: space-between; */
    gap: 1rem;
}
.upcoming_heading{
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 400;
    /* margin-bottom: 2rem; */
}
.preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.livelink_container{
    border: 1px solid var(--secondary-color);
    width: 160px;
    text-align: center;
    padding: .6rem 0;
    text-decoration: none;
    color: #fff;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    transition: .3s cubic-bezier(0.65, 0.05, 0.36, 1);;
}

.livelink_container:hover{
    background-color: var(--secondary-color);
    width: 200px;
    gap: 20px;
    /* border: 1px solid var(--secondary-color); */
}
.eventsPage{
    font-family: var(--main-font);
    
}
.fullEvents{
    padding: 2rem;
}
.all_events{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #fff;
}
#partName{
    padding: 1rem 2rem;
    font-weight: 500;
    letter-spacing: 1.2px;
}
.page{
    color: var(--main-color);
    text-decoration: none;
}
.evntspg_head{
    padding: 0 2rem;
    margin: 1rem 0;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    text-decoration: underline;
}
@media only screen and (min-width:768px){
    .preview{
        flex-direction: row;
    }
    .all_events{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width:900px){
    .preview{
        /* background-color: rebeccapurple; */
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
    .all_events{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .upcoming{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}