footer{
    background-color: #005245;
    /* height: 50vh; */
    padding: 3rem 1rem;
    font-family: var(--main-font);
}
#footer_logo{
    /* background-color: rebeccapurple; */
    width: 50%;
    display: block;
    margin: auto;

}
/* .contact_us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: .4rem;

}
.contact_us p{
    color: #fff;
    font-weight: 600;
    font-size: large;
    letter-spacing: 1.7px;
}
.input_form{

    display: flex;
    gap: 0;
}
.input_form input{
    border: none;
    background-color: #7070708a;
    padding: .5rem 1.6rem;
    width: 140px;
    border-radius:  .3rem 0 0 .3rem;
}
.input_form button {
    border: none;
    background-color: var(--secondary-color);
    padding: .5rem 1.6rem;
    color: #fff;
    font-family: var(--main-font);
    font-size: 1rem;
    border-radius: 0 .3rem .3rem 0;
} */
.footerDivide{
    border: none;
    background-color: #999898;
    height: 1px;
    margin: 2rem 0;
}

.footer_row2{
    /* display: none; */
}
.footer_details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: red; */
    /* padding: 2rem; */
}
.serviceTimes{
    display: flex;
        flex-direction: row;
        /* background-color: rebeccapurple; */
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
}
.location_head, .friService_head, .sundays_head, .in_touch_head{
    color: #fff;
    display: flex;
    align-items: center;
    gap: .3rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    font-size: 1.3rem;
    margin: .6rem 0;
}
.footer_location p, .footer_friService p, .footer_sundays p, .in_touch p, .frontdesk a{
    color: #a8a8a8;
    font-weight: 400;
    font-size: 1.1rem;
    /* font-size: .9rem; */
}

footer .map{
    /* margin-bottom: 3rem; */
    /* display: block;
    margin: 2rem auto;
    margin-bottom: 0; */
}
.footer_menuList{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.3rem;
    align-items: center;
    /* justify-content: space-between; */
    /* background-color: rebeccapurple; */
    margin: 2rem 0;
    gap: 1rem;
}
.footer_menuList a{
    text-decoration: none;
    list-style-type: none;
    transition: .3s ;
    color: #fff;
}
.footer_menuList a:hover{
    color: var(--main-color);
    transform: translateY(-6px);
}

.socials{
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-top: 1rem;
}
.socials a{
    background-color: gold;
    /* padding: 1rem; */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    border: 1px solid gold;
    transition: .3s ease-in-out;
}
.socials a:hover{
    background-color: transparent;
    color: #fff;
}
.copyright{
    color: #fff;
    font-weight: 500;
    font-size: large;
    text-align: center;
}
.altar{
    width: 100%;
    display: none;
}



@media only screen and (min-width:768px){
    #footer_logo{
        width: 40%;
    }
    .serviceTimes{
        /* justify-content: space-around; */
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .in_touch{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .time_loc{
        display: flex;
        align-items: center;
        flex-direction: row;
        /* background-color: rebeccapurple; */
    }
    .footer_rows{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        /* justify-content: space-around; */
        justify-content: space-around;
    }
    .footer_details{
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }
    .footer_row2{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        /* background-color: yellow; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 5rem;
        /* height: 100%; */
    }
    .footer_menuList{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 1.3rem;
        align-items: flex-start;
        /* justify-content: space-between; */
        /* background-color: rebeccapurple; */
        width: 50%;
        margin: 2rem 0;
        gap: 1rem;
    }
    .footer_menuList a{
        /* list-style-type: circle; */
    }
    .altar{
        display: block;
        border-radius: .5rem;
        max-width: 300px;
        max-height: 200px;
    }
    
   
}
@media only screen and (min-width:900px){
    #footer_logo{
        width: 30%;
    }
     .footer_details{
        gap: 3rem;
    }
    .serviceTimes{
        justify-content: flex-start;
        gap: 3rem;
    }
    footer .map{
        display: inline-block;
    }
    .in_touch{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer_menuList{
        justify-content: space-between;

    }
      .footer_menuList a{
        list-style-type: circle;
    }
}