.beliefs_list{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .7rem;
}
.single_belief span{
    color: var(--main-color);
    font-weight: 600;
    letter-spacing: 1px;
}